html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.295) !important;
}

.navbar-brand {
  padding-left: 3.5rem !important;
}

main {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
}


body {
  background-color: rgba(206, 182, 182, 0.959);
  background-image: linear-gradient(rgba(221, 175, 175, 0.699), rgba(206, 182, 182, 0.959)), url('/todo.png');
  background-size: cover; 
  background-position: center; 
  min-height: vh;
  overflow-y: hidden;
}

.index {
  /* From https://css.glass */
/* background: rgba(208, 79, 79, 0.56) !important;
border-radius: 16px!important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0)!important;
backdrop-filter: blur(10.3px)!important;
-webkit-backdrop-filter: blur(10.3px)!important;
border: 1px solid rgba(208, 79, 79, 0.7)!important; */
} 

th{
  background: rgba(0, 0, 0, 0.1) !important;
  text-align: center;
}
td{
  background-color: rgba(233, 148, 148, 0.56) !important;
  border-radius: 2px;
  color: #000 !important;
  text-align: center;
}
/* Styles for Area class used in multiple pages */
.area {
  width: 30rem;
  margin-top: 2rem;
  background: rgba(206, 182, 182, 0.56) !important;
border-radius: 16px!important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5)!important;
backdrop-filter: blur(10.3px)!important;
-webkit-backdrop-filter: blur(10.3px)!important;
border: 1px solid rgba(208, 79, 79, 0.7)!important;
}

.area hr {
  border-top: 2px solid #fff;
}
/* Styles for Sign In page */
.auth {
  color: #fff !important;
  width: 50%;
  font-size: 2rem;
  text-align: center;
}
/* Styles for Sign Out page */
.auth-out {
  color: hsl(0, 0%, 100%) !important;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0 !important;
}

span.text-dark {
  font-size: 3rem;
  font-weight: 600;
}

/* Specific styles for Edit page */
.edit, .create, .delete{
  margin-top: 10rem !important;
}

.delete h3, .edit h3, .create h3 {
  color: #000 !important;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}


.username {
  margin-top: 16rem !important;
}

.username span {
  font-size: 3.5rem !important;
}
