html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

body {
  background-color: rgba(206, 182, 182, 0.959);
}

.index {
  /* From https://css.glass */
background: rgba(208, 79, 79, 0.56) !important;
border-radius: 16px!important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)!important;
backdrop-filter: blur(10.3px)!important;
-webkit-backdrop-filter: blur(10.3px)!important;
border: 1px solid rgba(208, 79, 79, 0.7)!important;
}

th, td{
  background-color: rgba(255, 255, 255, 0) !important;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #fff !important;
}

.area {
  width: 30rem;
  margin-top: 2rem;
  background: rgba(206, 182, 182, 0.56) !important;
border-radius: 16px!important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5)!important;
backdrop-filter: blur(10.3px)!important;
-webkit-backdrop-filter: blur(10.3px)!important;
border: 1px solid rgba(208, 79, 79, 0.7)!important;
}

.area hr {
  border-top: 2px solid #fff;
}

.auth {
  color: #fff !important;
  width: 50%;
  font-size: 2rem;
  text-align: center;
}

span.text-dark {
  font-size: 3rem;
  font-weight: 600;
}


